#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "zabbix"
name = "Zabbix"
description.en = "Monitoring tool for diverse IT components, including networks, servers, VMs and cloud services"
description.fr = "Outil pour monitorer des réseaux, des serveurs, des VMs et autres services en ligne"

version = "5.0.41~ynh1"

maintainers = []

[upstream]
license = "GPL-2.0-or-later"
website = "https://www.zabbix.com"
admindoc = "https://www.zabbix.com/manuals"
code = "https://github.com/zabbix/zabbix"
cpe = "cpe:2.3:a:zabbix:zabbix"

[integration]
yunohost = ">= 11.2"
architectures = ["amd64"]
multi_instance = false
ldap = true
sso = true
disk = "500M"
ram.build = "200M"
ram.runtime = "200M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/zabbix"

    [install.init_main_permission]
    help.en = "A public app doesn't need SSO auth : the auth page is opened for everyone"
    help.fr = "Une application publique ne nécessite pas une authentification SSO : sa page d'authentication est ouverte à tous"
    type = "group"
    default = false

    [install.language]
    ask.en = "Choose the application language"
    ask.fr = "Choisissez la langue de l'application"
    type = "select"
    choices = ["en_GB", "en_US", "cz_CN", "cs_CZ", "fr_FR", "ko_KR", "ja_JP", "nb_NO", "pl_PL", "pt_BR", "pt_PT", "ru_RU", "sk_SK", "tr_TR", "uk_UA"]
    default = "en_US"

    [install.admin]
    type = "user"

[resources]
    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = [
        "libapr1",
        "libaprutil1",
        "libaprutil1-dbd-sqlite3",
        "libaprutil1-ldap",
        "liblua5.2-0",
        "fonts-dejavu-core",
        "patch",
        "smistrip",
        "unzip",
        "wget",
        "fping",
        "libcap2-bin",
        "libiksemel3",
        "libopenipmi0",
        "libpam-cap",
        "libsnmp-base",
        "libsnmp40",
        "snmptrapd",
        "snmpd",
        "libjs-prototype",
        "jq",
        "libssh-4",
        "php7.4-fpm",
        "php7.4-bcmath",

        "mariadb-server",
    ]

    [resources.apt.extras.zabbix]
    repo = "http://repo.zabbix.com/zabbix/5.0/debian bullseye main"
    key = "https://repo.zabbix.com/zabbix-official-repo.key"
    packages = [
        "zabbix-agent",
        "zabbix-frontend-php",
        "zabbix-server-mysql",
    ]

    [resources.database]
    type = "mysql"
